<!DOCTYPE html>
<html lang="en">
<%- include('components/head', { text: 'Not Into Tech' }) %>
<body class="bg-[#154D41]">

    <!-- Content Wrapper -->
    <div class="relative z-20 mt-[1.2em]">
        
        <!-- Header Website -->
        <section class=" mx-[1em] p-[0.5em]">
            <%- include('components/header') %>
        </section>

        <!-- Main Content -->
        <section>
            <main>
                <!-- website main cta -->
                <div class="mt-44 px-10">
                    <h1 class="text-white text-[3.5em] lg:text-[4.2em] text-left font-bold leading-[1.2em] mt-[45px]">
                        Good NITE fellas
                    </h1>
                    <p class="text-white text-[1em] lg:text-[1.25em] text-left leading-[1.5em] mt-3">
                        Grab a coffee and untangle the tech world with simple, late-night reads...
                    </p>
                    <div class="mt-18">
                        <%- include('components/button-hover-color', {text:'Read here', link:'/coming-soon'}) %>
                    </div>
                </div>

                <!-- chatbot section -->
                <div class="bg-[#010C13] mt-60 grid grid-cols-1 lg:grid-cols-2 gap-4 px-10 py-15 lg:py-35">
                    <div class="py-10">
                        <h1 class="text-white font-bold text-[45px]">Chat with our chatbot</h1>
                        <h2 class="text-white mt-[30px] text-[1em] lg:text-[18px]">Ask your tech questions to NITE’s chatbot <br>trained specifically for tech industry</h2>
                        <div class="mt-[40px]">
                            <%- include('components/button-hover-color', {text:'Chat now', link:'/'}) %>
                        </div>
                    </div>
                    <div class="grid grid-flow-col grid-rows-3 gap-y-7">
                        <div class="grid grid-cols-5 gap-2 items-center w-auto h-15 lg:h-auto rounded-xl bg-[#154D41] hover:bg-[#7449F6] px-5">
                            <img src="image-assets\icon-document-rag.png" alt="RAG chatbot" class="h-1/2 self-center justify-self-center">
                            <div class="col-span-4">
                                <h1 class="text-left text-white text-[0.7rem] lg:text-[0.9rem] font-medium">Tailored with RAG to embed specific knowledge on tech industry</h1>
                            </div>
                        </div>
                        <div class="grid grid-cols-5 gap-2 items-center w-auto h-15 lg:h-auto rounded-xl bg-[#154D41] hover:bg-[#7449F6] px-5">
                            <img src="image-assets\icon-llm-brand.png" alt="LLM brand" class="h-1/2 self-center justify-self-center">
                            <div class="col-span-4">
                                <h1 class="text-left text-white text-[0.7rem] lg:text-[0.9rem] font-medium">Enabling latest Large Language Model from well known tech brand</h1>
                            </div>
                        </div>
                        <div class="grid grid-cols-5 gap-2 items-center w-auto h-15 lg:h-auto rounded-xl bg-[#154D41] hover:bg-[#7449F6] px-5">
                            <img src="image-assets\icon-free.png" alt="Chatbot free" class="h-1/2 self-center justify-self-center">
                            <div class="col-span-4">
                                <h1 class="text-left text-white text-[0.7rem] lg:text-[0.9rem] font-medium">100% free of usage and easy to use (t&c applied)</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product section -->
                <div class="mt-20 pt-10 pb-0">
                    <h1 class="text-white text-center font-semibold text-[45px]">Check our products</h1>
                    <h2 class="mt-3 px-2 text-white text-center text-[1em] lg:text-[18px]">Check NITE’s latest digital product tailored specifically to help you deep dive into tech industry</h2>
                    <div class="mt-8 px-6 lg:px-40 product-container 
                                grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
                                place-items-center gap-y-6 lg:gap-y-0">
                        <div class="card relative w-full md:w-3/4 h-[400px] rounded-[20px] list-none overflow-hidden">
                            <div 
                                class="card-background absolute inset-0 bg-cover bg-center -z-10" 
                                style="background-image: url(image-assets/Product-Articles.png);">
                            </div>
                            <a href="/article" class="absolute bottom-4 left-4 right-4 z-20">
                                <h3 class="text-white text-[18px] font-bold leading-1 mb-4 [text-shadow:2px_2px_20px_rgba(0,0,0,.2)]">Insights</h3>
                                <div class="text-white text-[12px] font-light tracking-[1px] leading-[15px] normal-case">Tech industry related articles powered by advance data analysis</div>
                            </a>
                        </div>
                        <div class="card relative w-full md:w-3/4 h-[400px] rounded-[20px] list-none overflow-hidden">
                            <div 
                                class="card-background absolute inset-0 bg-cover bg-center -z-10" 
                                style="background-image: url(image-assets/Product-Dataset.png);">
                            </div>
                            <a href="/dataset" class="absolute bottom-4 left-4 right-4 z-20">
                                <h3 class="text-white text-[18px] font-bold leading-1 mb-4 [text-shadow:2px_2px_20px_rgba(0,0,0,.2)]">Data</h3>
                                <div class="text-white text-[12px] font-light tracking-[1px] leading-[15px] normal-case">Check our  data analysis dashboard</div>
                            </a>
                        </div>
                        <div class="card relative w-full md:w-3/4 h-[400px] rounded-[20px] list-none overflow-hidden">
                            <div 
                                class="card-background absolute inset-0 bg-cover bg-center -z-10" 
                                style="background-image: url(image-assets/Product-Project.png);">
                            </div>
                            <a href="/coming-soon" class="absolute bottom-4 left-4 right-4 z-20">
                                <h3 class="text-white text-[18px] font-bold leading-1 mb-4 [text-shadow:2px_2px_20px_rgba(0,0,0,.2)]">AI</h3>
                                <div class="text-white text-[12px] font-light tracking-[1px] leading-[15px] normal-case">Discover latest AI development done by us</div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- partnership section -->
                <div class="bg-[#010C13] mt-25 px-2 lg:px-10 py-18">
                    <h1 class="text-white text-center font-semibold text-[45px] pb-7">Become our partner</h1>
                    <div class="py-10 px-2 lg:px-15 grid grid-cols-3 lg:grid-cols-6 gap-y-15 justify-items-center items-center">
                        <div class="flex w-[100px] h-[100px] rounded-xl bg-[#7449F6] hover:bg-[#8742A7]"></div>
                        <h3 class="col-span-2 text-white text-left text-[15px]">Get early access to our latest research and data analysis on tech industry</h3>
                        <div class="flex w-[100px] h-[100px] rounded-xl bg-[#7449F6] hover:bg-[#8742A7]"></div>
                        <h3 class="col-span-2 text-white text-left text-[15px]">Become our first priority on research and data request list</h3>
                        
                        <h3 class="col-span-2 text-white text-left text-[15px]">Lorem ipsum dolor sit amet consectetur. Venenatis nunc volutpat odio massa mattis a tellus.</h3>
                        <div class="flex w-[100px] h-[100px] rounded-xl bg-[#7449F6] hover:bg-[#8742A7]"></div>
                        <h3 class="col-span-2 text-white text-left text-[15px]">Lorem ipsum dolor sit amet consectetur. Venenatis nunc volutpat odio massa mattis a tellus.</h3>
                        <div class="flex w-[100px] h-[100px] rounded-xl bg-[#7449F6] hover:bg-[#8742A7]"></div>
                    </div>
                    <div class="mt-14 justify-items-center">
                        <%- include('components/button-hover-color', {text:'Contact us', link:'/coming-soon'}) %>
                    </div>
                </div>

                <!-- contributors section-->
                 <div class="mt-15 mb-5">
                    <h1 class="text-white text-center font-semibold text-[30px] pb-7">People Behind</h1>
                    <div class="mt-8 px-6 lg:px-40 product-container 
                                grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
                                place-items-center gap-y-6 lg:gap-y-0">
                        <div class="card relative w-full md:w-3/4 h-[400px] rounded-[20px] list-none overflow-hidden">
                            <div 
                                class="card-background absolute inset-0 bg-cover bg-center -z-10" 
                                style="background-image: url(image-assets/adnan-profile.png);">
                            </div>
                            <a href="/article" class="absolute bottom-4 left-4 right-4 z-20">
                                <h3 class="text-white text-[20px] font-bold leading-1 mb-4 [text-shadow:2px_2px_20px_rgba(0,0,0,.2)]">Adnan Bayu</h3>
                                <div class="text-white text-[14px] font-light tracking-[1px] leading-[15px] normal-case">Partner</div>
                            </a>
                        </div>
                        <div class="card relative w-full md:w-3/4 h-[400px] rounded-[20px] list-none overflow-hidden">
                            <div 
                                class="card-background absolute inset-0 bg-cover bg-center -z-10" 
                                style="background-image: url(image-assets/timo-profile.png);">
                            </div>
                            <a href="/dataset" class="absolute bottom-4 left-4 right-4 z-20">
                                <h3 class="text-white text-[20px] font-bold leading-1 mb-4 [text-shadow:2px_2px_20px_rgba(0,0,0,.2)]">Timo Widyanvolta</h3>
                                <div class="text-white text-[14px] font-light tracking-[1px] leading-[15px] normal-case">Partner</div>
                            </a>
                        </div>
                        <div class="card relative w-full md:w-3/4 h-[400px] rounded-[20px] list-none overflow-hidden">
                            <div 
                                class="card-background absolute inset-0 bg-cover bg-center -z-10" 
                                style="background-image: url(image-assets/maul-profile.png);">
                            </div>
                            <a href="/coming-soon" class="absolute bottom-4 left-4 right-4 z-20">
                                <h3 class="text-white text-[20px] font-bold leading-1 mb-4 [text-shadow:2px_2px_20px_rgba(0,0,0,.2)]">Wisnu Maulana</h3>
                                <div class="text-white text-[14px] font-light tracking-[1px] leading-[15px] normal-case">Partner</div>
                            </a>
                        </div>
                    </div>
                 </div>
                
                <!-- feedback-section -->
                <div class="bg-[#010C13] mt-20 px-10 py-18">
                    <h1 class="text-white text-center font-semibold text-[30px] pb-7">Send us your feedback</h1>
                    <%- include('components/feedback-form') %>
                    <div class="mt-14 justify-items-center">
                        <%- include('components/button-hover-color', {text:'Explore more', link:'/coming-soon'}) %>
                    </div>
                </div>

            </main>
        </section>

        <!-- Footer Website -->
        <section>
            <%- include('components/footer') %>
        </section>
        
    </div>

    <script src="script.js"></script>

</body>
</html>